= simple_form_for(@checklist) do |f|

  - if f.error_notification
    %p
      .alert.alert-danger  
        = f.error_notification
  
  .form-inputs
    %b
      Enter the title:          
    = f.input :title, label: false, placeholder: 'Title'
    %br/
    
    %b
      Description: 
    %br/     
    %br/
    = f.input :description, label: false, placeholder: 'Description'	
    
    %b
      Only registered users are able to see this list?:          
    = f.input :only_for_registered, label: false
    %br/    

  %table
    %thead
      %tr
        %th TODO Actions
        %th TODO Title
        %th TODO Description
        
    %tbody.questions
      = f.simple_fields_for :questions do |builder|
        = render 'question_fields', f: builder

  .form-actions    
    = link_to_add_association 'Add TODO', f, 
      :questions, class: 'btn btn-primary', 
      data: { association_insertion_node: '.questions', association_insertion_method: :append }
    = f.button :submit, class: 'btn'
    = link_to 'Cancel Saving', checklists_path, class: 'btn'    
    
