%h2 Checklists

= link_to 'New Checklist', new_checklist_path, class: 'btn', class: 'btn'  
-#= link_to 'To TODOs Page', audits_path, class: 'btn', class: 'btn'  

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Actions
  %tbody
    - @checklists.each do |checklist|	
      %tr
        %td
          = link_to checklist do
            = checklist.title
        %td
          = link_to checklist do
            = checklist.description
        %td
          -#= link_to checklist.next_publish_status, switch_publishing_status_checklist_path(checklist), class: 'btn teal lighten-2'
          = link_to 'Edit', edit_checklist_path(checklist), class: 'btn teal lighten-2'
          = link_to 'Destroy', checklist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red lighten-2'
          
= paginate @checklists
          
      


