%p
  %strong Checklist Title:
  = @checklist.title
  
%p
  %strong Checklist Description:
  = @checklist.description
  
%p
  %strong Completed:
  = @checklist.published   
  
%p
  %strong Visible only for registered users:
  = @checklist.only_for_registered    


%table.table
  %thead
    %tr
      %th TODO Title
      %th Description
      %th Status

  %tbody.fields
    - @checklist.questions.each do |question|   
      %tr
        %td 
          = question.title

        %td 
          = question.description
          
        %td 
          = link_to question.next_complete_status, switch_complete_status_question_path(question), class: 'btn teal lighten-2'          


= link_to 'Edit', edit_checklist_path(@checklist), class: 'btn'
= link_to 'To Checklists Page', checklists_path, class: 'btn'
